@using MLAFund.Models

@{
    ViewBag.Title = "Fund Allotment New Entry";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*@section bc{

        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/convergence">convergence</a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>


    }*@
<div class="col-md-12 col-lg-12" id="app" v-cloak>
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">
                New Fund Allotment Entry
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="assemblyName">Assembly Name</label>
                        <select name="assemblyName" v-model="fundallotment.assembly_name" class="form-control" @@change="FillMlaName()" v-validate="'required'" ref="assemblyName">
                            <option value="" disabled selected>Select your option</option>
                            <option v-for="d in assemblyList" v-bind:value="d.assembly_name">
                                {{d.assembly_name}}
                            </option>
                        </select>
                        <span style="color:red">{{ errors.first('Assembly Name') }}</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="mlaNames">Rept. MLA Name</label>
                        <select name="mlaName" v-model="fundallotment.mla_name" class="form-control" v-validate="'required'" ref="mlaName">
                            <option v-for="d in mlaNameList" v-bind:value="d.mla_name">
                                {{d.mla_name}}
                            </option>
                        </select>

                        <span style="color:red">{{ errors.first('mla_name') }}</span>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="form-group">
                        <label for="financialYear">Financial Year</label>
                        <select name="financialYear" v-model="fundallotment.financial_year" class="form-control" v-validate="'required'" ref="financialYear">
                            <option value="" disabled selected> Select Financial Year </option>
                            <option value="2020-2021"> 2020-2021 </option>
                            <option value="2021-2022"> 2021-2022 </option>
                            <option value="2022-2023"> 2022-2023 </option>
                            <option value="2023-2024"> 2023-2024 </option>
                            <option value="2024-2025"> 2024-2025 </option>
                        </select>
                       @* <input type="text" required class="form-control" v-model="fundallotment.financial_year" placeholder="eg. 2022-2023" />*@
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="allotedFund">Alloted Fund</label>
                        <input type="number" required class="form-control" v-model="fundallotment.allotted_fund" placeholder="Enter Amount." />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="total_expenditure">Total Expenditure</label>
                        <input type="number" required class="form-control" v-model="fundallotment.total_expenditure" placeholder="0" disabled />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="remarks">Remarks</label>
                        <textarea type="text" required class="form-control" v-model="fundallotment.remarks"></textarea>
                    </div>
                </div>
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">@Session["district"]</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">

                            <!---wizard-->
                            <!---end wizard-->



                        </div>
                        <!-----boxend-->
                        <!--<div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">PDF Upload</label>
                                <input type="file" id="filename_c" value="No Files Chosen" ref="gg" />-->
                        @*<input type="button" id="btnUpload" value="Upload PDF" class="btn btn-info" />*@
                        <!--</div>

                            </div>
                        </div>-->
                        <!-- /.box-body -->
                        <div class="box-footer">
                            @*<input type="button" value="Submit" class="btn btn-primary" @@click="saveData()" />*@

                            <button type="button" class="btn btn-primary" @@click="saveData()" v-bind:disabled="busy">
                                <i class="fas fa-spinner fa-spin" v-if="busy"></i>
                                Submit
                            </button>
                            <a href="@Url.Action("Home","Index")" class="btn btn-success">View</a>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger", @required = "true" })
                            <div class="pad margin no-print">

                                @ViewBag.Msg
                            </div>
                        </div>

                    </div>

                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

            <!-- /.card-header -->
            <!-- form start -->

        </div>
    </div>
</div>
</div>





@section scripts{
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="~/Scripts/axios/axios.min.js"></script>
    <script src="~/Scripts/vue/vue.min.js"></script>
    <script src="~/Scripts/vee-validate/vee-validate.min.js"></script>
    <script>Vue.use(VeeValidate);</script>
    <script src="~/Scripts/apps/FundAlloted.js"></script>
}






